In [69]:
import pymysql
import redis
import json 
import numpy as np
import pandas as pd
import pprint
from collections import Counter

In [70]:
conn = pymysql.connect(host='172.17.0.4', port=3306, user='j122085', passwd='850605', db='db')

In [71]:
cur =conn.cursor()

In [72]:
row_2 = cursor.fetchmany(3)

In [73]:
row_2

()

In [74]:
cur.execute('''DROP TABLE `db`.`tainan`''')

0

In [75]:
cur.execute('''CREATE TABLE IF NOT EXISTS `db`.`tainan` (
  `name` VARCHAR(200) NOT NULL,
  `lat` FLOAT NULL,
  `lng` FLOAT NULL,
  `introduction` VARCHAR(10000) NOT NULL DEFAULT 'no intro',
  `score` FLOAT ZEROFILL NULL DEFAULT 0,
  `style` VARCHAR(200) NOT NULL DEFAULT 'other food',
  PRIMARY KEY (`name`))
  DEFAULT CHARACTER SET = utf8mb4;;''')

0

In [76]:
with open('./jsondata/bigtable_1.2.json') as f:
    bigTable=json.load(f)

In [77]:
cur.execute('''SELECT * FROM db.tainan;''')

0

In [78]:
connection = pymysql.connect(host='172.17.0.4',
                             user='root',
                             password='850605',
                             db='db',
                             charset='utf8mb4',
                             cursorclass=pymysql.cursors.DictCursor)

In [79]:
    try:
        for dien in bigTable:
            with connection.cursor() as cursor:
                # Create a new record
                sql = "INSERT INTO `db`.`tainan` (`name`, `lat`, `lng`, `introduction`, `score`, `style`) VALUES (%s, %s, %s, %s, %s, %s)"
                try:
                    cursor.execute(sql, (dien['name'], dien['coordinate']['lat'],
                                         dien['coordinate']['lng'], dien['introduction'], dien['score'], dien['style']))
                except:
                    pass

            # connection is not autocommit by default. So you must commit to save
            # your changes.
        connection.commit()
    finally:
        connection.close()

In [80]:
cur.execute('''SELECT * FROM db.tainan;''')

0

In [81]:
print(cur.description)

(('name', 253, None, 200, 200, 0, False), ('lat', 4, None, 12, 12, 31, True), ('lng', 4, None, 12, 12, 31, True), ('introduction', 253, None, 10000, 10000, 0, False), ('score', 4, None, 12, 12, 31, True), ('style', 253, None, 200, 200, 0, False))

In [82]:
# try:
#     with connection.cursor() as cursor:
#         # Create a new record
#         sql = "INSERT INTO `users` (`email`, `password`) VALUES (%s, %s)"
#         cursor.execute(sql, ('webmaster@python.org', 'very-secret'))

#     # connection is not autocommit by default. So you must commit to save
#     # your changes.
#     connection.commit()

#     with connection.cursor() as cursor:
#         # Read a single record
#         sql = "SELECT `id`, `password` FROM `users` WHERE `email`=%s"
#         cursor.execute(sql, ('webmaster@python.org',))
#         result = cursor.fetchone()
#         print(result)
# finally:
#     connection.close()

In [83]:
cur.execute('select * from `db`.`tainan`')

0

In [84]:
cur.description

(('name', 253, None, 200, 200, 0, False),
 ('lat', 4, None, 12, 12, 31, True),
 ('lng', 4, None, 12, 12, 31, True),
 ('introduction', 253, None, 10000, 10000, 0, False),
 ('score', 4, None, 12, 12, 31, True),
 ('style', 253, None, 200, 200, 0, False))

In [85]:
for row in cur:
    print(row)

In [87]:
conn.close()